<div class="row">
  <div class="span6 offset3">
    <%= form_for(@page) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.hidden_field :ancestry if @page.parent %>

        <%= f.label 'Имя' %>
        <%= f.text_field :name  %>

        <%= f.label 'Заголовок' %>
        <%= f.text_field :title %>

        <%= f.label 'Содержание' %>
        <%= f.text_area :content, :rows => 5 %>

        <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
